@import "../variables";

.loader {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  &__background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #020c1b;
    width: 100%;
    height: 100%;
  }

  & h1 {
    position: relative;
    z-index: 5;
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 0;
    overflow: hidden;
    font-size: 5rem;
  }

  & span {
    display: inline-block;
    width: fit-content;
  }
}